spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: ${DATABASE_DRIVER:org.h2.Driver}

  h2:
    console:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: none

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.hibernate.SQL: warn
    org.hibernate.orm.jdbc.bind: warn
